/* Estilo base para todos los bloques */
div.software {
    background-color: #e6ffe6; /* Verde pálido */
    border: 3px solid #006600; /* Marco verde oscuro */
    padding: 1em; /* Espaciado interno */
    margin-bottom: 20px; /* Separación entre bloques */
    border-radius: 10px; /* Esquinas redondeadas */
}

/* Bloques adicionales */
div.important {
    background-color: #ffe6cc; /* Naranja pálido */
    border: 3px solid #e67300; /* Marco naranja oscuro */
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
}

div.tip {
    background-color: #e6f2ff; /* Azul pálido */
    border: 3px solid #004080; /* Marco azul oscuro */
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
}

div.link {
    background-color: #fff5e6; /* Amarillo pálido */
    border: 3px solid #cc8400; /* Marco amarillo oscuro */
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
}

div.think {
    background-color: #f5e6ff; /* Morado pálido */
    border: 3px solid #9900cc; /* Marco morado oscuro */
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
}
